body{
    height: 100vh;
    margin: 0vh;
    background-color: #280025;
}

.questionario{
    height: 90%;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.formulario{
    background-color: #d9b1d9 ;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

#imagem{
    width: 600px;
}


label{
    margin: 15px;
    display: flex;
    justify-content: center;
    color: black;
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input, select{
    background-color:#7f077e ;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: solid black 2px;
    display: block;
    align-self: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.botao{
    background: #7f077e;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    align-self: center;
    cursor: pointer;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid black;
    display: contents;
    align-items: center;
    
 

}
.butao{
    background: #7f077e;
    width: 100px;
    height: 47px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

 

}